:root {
    --grid-size: 32px;
  }

#sutil-app {
    width: fit-content;
}

.game-world {
    font-size: calc(0.7 * var(--grid-size));
}

.map-row {
    line-height: 0;
}

.floor {
    width: var(--grid-size);
    height: var(--grid-size);
    display: inline-block;
    background-color: lightgray;
}

.wall {
    width: var(--grid-size);
    height: var(--grid-size);
    display: inline-block;
    background-color: brown;
}

.sprite-icon {
    padding: 4px;
}

.hud {
    display: flex;
    justify-content: space-between;
}

.hud-player-data {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.hud-controls {
    display: flex;
}

.hud-button {
    padding: 0.25rem;
    margin-left: 1rem;
    font-size: 2rem;
}